* {
    font-family: "Lexend", sans-serif;
}
body .container {
    max-width: 1170px !important;
    margin: auto !important;
    width: 90% !important;
}
.color-recipe {
    color: #150B2B;
}
.our-recipes-two-box {
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
.our-recipes-two-box .or-b1:nth-child(1) {
    width: 60%;
    float: left;
    margin-right: 2%;
}
.our-recipes-two-box .or-b1:nth-child(2) {
    width: 38%;
    float: left;
}
@media all and (max-width: 767px) {
    .our-recipes-two-box .or-b1:nth-child(1) {
        width: 100%;
        float: left;
        margin-bottom: 30px;
    }
    .our-recipes-two-box .or-b1:nth-child(2) {
        width: 100%;
        float: left;
    }
}
.ingredients-lists {
    list-style-type: disc;
    padding-left: 20px;
}
.ingredients-lists li {
    position: relative;
    margin-bottom: 10px;
}
.ingredients-lists li:last-child {
    margin-bottom: 0;
}